In [1]:
import pandas as pd
import numpy as np
import os
import zipfile as zf
import imutils
import shutil

from imutils import build_montages,paths

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
os.getcwd()

'/content'

In [0]:
data_dir = '/content/Data/'
os.mkdir(data_dir)

In [0]:
os.mkdir(data_dir+'YOUNG/')
os.mkdir(data_dir+'MIDDLE/')
os.mkdir(data_dir+'OLD/')

In [0]:
handle_train = zf.ZipFile(r'/content/Train.zip')
handle_train.extractall('/content/train')
handle_train.close()

handle_test = zf.ZipFile(r'/content/Test.zip')
handle_test.extractall('/content/test')
handle_test.close()

In [0]:
train_images = os.listdir('/content/train/Train/')
test_images = os.listdir('/content/test/Test/')

fp_train_images = '/content/train/Train/'
fp_test_images = '/content/test/Test/'

In [0]:
#19906 train images -> 15000 train + 400 test + 906 validate
#6636 test images

In [13]:
df_train = pd.read_csv('/content/train.csv')
df_train.head(5)

          ID   Class
0    377.jpg  MIDDLE
1  17814.jpg   YOUNG
2  21283.jpg  MIDDLE
3  16496.jpg   YOUNG
4   4487.jpg  MIDDLE

In [9]:
df_train['Class'].value_counts()

MIDDLE    10804
YOUNG      6706
OLD        2396
Name: Class, dtype: int64

In [10]:
sample_submn = pd.read_csv('/content/sample_submission_sDO3m7O.csv')
sample_submn.head()

    Class         ID
0  MIDDLE  25321.jpg
1  MIDDLE    989.jpg
2  MIDDLE  19277.jpg
3  MIDDLE  13093.jpg
4  MIDDLE   5367.jpg

In [0]:
middle_path = '/content/Data/MIDDLE/'
old_path = '/content/Data/OLD/'
young_path = '/content/Data/YOUNG/'

In [0]:
for index,row in df_train.iterrows():
  category = row['Class']
  shutil.move(fp_train_images+row["ID"],data_dir+category)

In [0]:
(list(paths.list_files('/content/Data/')))

In [0]:
!zip -r /content/datafile.zip /content/Data